.modalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1040;
	width: 100vw;
	height: 100vh;
	background-color: #000;
	opacity: .5;
}
  
.modalWrapper {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	outline: 0;
}
  
.modal {
	z-index: 100;
	background: white;
	position: relative;
	text-align: center;
	margin: 28% auto;
	border-radius: 5px;
	max-width: 75%;
	padding: 1.5rem 0.4rem;
}
  
.modalHeader {
	display: flex;
	justify-content: flex-end;
	position: relative;
}
  
.modalCloseButton {
	font-size: 1.3rem;
	font-weight: 700;
	line-height: 0;
	color: black;
	cursor: pointer;
	border: none;
	position: absolute;
	top: -11px;
	padding: 0;
	margin: 0;
}