@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
/* X-Small devices (portrait phones, less than 576px) */
.navBar {
    display: flex;
    background-color: rgba(255,255,255,0.1);
    min-height: 2em;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.homeLink {
    list-style-type: none;
	font-family: "Open Sans Condensed", sans-serif;
    padding-left: 0.5rem;
}

.homeLink a {
    color: white;
    letter-spacing: 1px;
    font-size: large;
}

.contactLink button {
    color: white;
    letter-spacing: 1px;
    font-size: large;
    font-family: "Open Sans Condensed", sans-serif;
    background-color: rgba(0,0,0,0);
    border-color: rgb(0, 0, 238);
    border-style: none;
    box-sizing: content-box;
    cursor: pointer;
    display: inline;
    padding: 0;
    perspective-origin: 0 0;
    text-align: start;
    text-decoration: none;
    transform-origin: 0 0;
    width: auto;
}

.homeLink:link, .homeLink a:hover, .homeLink:focus, .homeLink:visited, .contactLink button:link, .contactLink button:hover, .contactLink button:focus, .contactLink button:visited {
    text-decoration: none;
    color:#e2af43;
}

.contactLink {
    list-style-type: none;
    padding-right: 0.5rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .navBar {
        display: flex;
        background-color: rgba(255,255,255,0.1);
        min-height: 2em;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    
    .homeLink, .contactLink {
        list-style-type: none;
        font-family: "Open Sans Condensed", sans-serif;
        padding-left: 0.5rem;
    }
    
    .homeLink a, .contactLink a {
        color: white;
        letter-spacing: 1px;
        font-size: large;
    }
    
    .homeLink:link, .homeLink a:hover, .homeLink:focus, .homeLink:visited, .contactLink:link, .contactLink a:hover, .contactLink:focus, .contactLink:visited {
        text-decoration: none;
        color:#e2af43;
    }
    
    .contactLink {
        list-style-type: none;
        font-family: "Open Sans Condensed", sans-serif;
        padding-right: 0.5rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}