.navBar {
    display: flex;
    background-color: #e2af43;
    height: 2em;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.homeLink {
    list-style-type: none;
}

.homeLink:link {
    text-decoration: none;
}

.contactLink {
    display: flex;
    list-style-type: none;
}