.navBar {
    display: flex;
    background-color: #e2af43;
    height: 2em;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.homeLink {
    list-style-type: none;
    font-family:'Roboto',sans-serif;
	font-weight: 700;

}

.homeLink:link, .homeLink:hover, .homeLink:focus, .homeLink:visited {
    text-decoration: none;
    color:#0e121d;
}

.contactLink {
    display: flex;
    list-style-type: none;
    font-family:'Roboto',sans-serif;
	font-weight: 700;

}

.contactLink:link, .contactLink:hover, .contactLink:focus, .contactLink:visited {
    text-decoration: none;
	color:#0e121d;
}